@{
    Layout = null;
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
    var title = "Redefinir Senha - Saboro Receitas";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <link rel="icon" href="~/favicon.ico">
    <script src="~/dist/izitoast.entry.js" asp-append-version="true"></script>
    <script src="~/dist/jquery.entry.js" asp-append-version="true"></script>
    <script src="~/dist/uikit.entry.js" asp-append-version="true"></script>
    <script src="~/dist/runtime.entry.js" asp-append-version="true"></script>
    <script src="~/dist/login.entry.js" asp-append-version="true"></script>
</head>

<body>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-background-secondary">
        <div
            class="uk-width-large uk-background-default padding-large@xl padding-medium uk-box-shadow-small uk-border-rounded uk-margin-top uk-margin-bottom">
            <div class="uk-flex uk-flex-middle uk-flex-center uk-margin-bottom-small">
                <div
                    class="uk-flex uk-flex-middle uk-flex-center uk-text-center uk-background-secondary container-logo-login">
                    <i class="icone-logo-login"></i>
                </div>
            </div>

            <form id="form-criar-usuario" method="post"
                onsubmit="event.preventDefault(); saboro.login.redefinirSenha(this)" data-default>
                <h2 class="uk-text-bold uk-text-center uk-margin-remove-bottom">Redefinir Senha</h2>
                <p class="uk-text-center uk-margin-remove-top uk-margin-remove-bottom subtitulo-login">Redefina sua senha
                    para gerenciar as suas receitas</p>

                <div class=" uk-margin">
                    <label for="email" class="uk-form-label uk-text-bold">Email</label>
                    <div class="uk-form-controls">
                        <input type="email" name="Email" id="email" autocomplete="email" placeholder="Insira seu E-mail"
                            class="uk-border-rounded uk-input focus-input">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="senha" class="uk-form-label uk-text-bold">Nova Senha</label>
                    <div class="uk-form-controls">
                        <input type="password" name="Senha" id="senha" placeholder="Insira sua senha"
                            autocomplete="current-password" class="uk-border-rounded uk-input focus-input">
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="confirmaSenha" class="uk-form-label uk-text-bold">Repita Nova Senha</label>
                    <div class="uk-form-controls">
                        <input type="password" name="SenhaConfirmacao" id="confirmar-senha"
                            placeholder="Confirme sua senha" autocomplete="current-password"
                            class="uk-border-rounded uk-input focus-input">
                    </div>
                </div>

                <div class="uk-margin">
                    <button type="submit"
                        class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded uk-text-bold uk-background-primary">Redefinir
                        Senha</button>
                </div>

                <div class="uk-flex uk-flex-center uk-margin-top">
                    <a class="uk-link-text uk-text-primary link-criar-conta"
                        onclick="window.history.back(); return false;">
                        Voltar para Login
                    </a>
            </form>

        </div>
    </div>

    <script>
        saboro.login.init({
            message: {
                error: '@TempData["ErrorMessage"]',
                success: '@TempData["SuccessMessage"]'
            },
            urls: {
                index: '@Url.Action("Index", "Login")',
                postRedefinirSenha: '@Url.Action("PostAlterarSenha", "Login")',
            }
        });
    </script>
</body>

</html>