@using Saboro.Core.Models;
@model IEnumerable<Receita>;

@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var dificuldade = item.DificuldadeReceita?.Dificuldade?.ToLower();
        var classeCor = dificuldade switch
        {
            "fácil" => "badge-facil",
            "médio" => "badge-medio",
            "difícil" => "badge-dificil",
            _ => "badge-fácil"
        };
        <div id="receita-{@item.Id}" class="card-receitas">
            <div
                class="uk-margin-medium-left uk-flex uk-flex-between uk-flex-middle uk-margin-medium-right uk-margin-medium-top">
                <p class="titulo-receita uk-margin-remove-bottom">@item.TituloReceita</p>
                <div class="badge @classeCor">
                    <p class="uk-margin-remove-bottom">@item.DificuldadeReceita?.Dificuldade</p>
                </div>
            </div>
            <p class="uk-margin-medium-left uk-margin-remove-bottom uk-margin-small-top descricao-receita">
                @item.DescricaoReceita</p>
            <div class="uk-flex uk-flex-middle uk-flex-between uk-margin-medium-right uk-margin-small-top">
                <div class="uk-flex uk-flex-middle uk-margin-medium-left">
                    <i class="icone-relogio-receita"></i>
                    <p class="uk-margin-remove-bottom uk-margin-remove-top uk-margin-small-left font-media">@item.TempoPreparo
                        min</p>
                </div>
                <div class="uk-flex uk-flex-middle uk-margin-medium-left">
                    <i class="icone-duplo-user-receita"></i>
                    <p class="uk-margin-remove-bottom uk-margin-remove-top  uk-margin-small-left font-media">@item.QtdPorcoes
                        porções</p>
                </div>
            </div>
            <div class="badge-tipo-receita uk-margin-medium-left uk-margin-small-top ">
                <p class="uk-margin-remove-bottom">@item.CategoriaFavorita.NomeCategoria</p>
            </div>
            <div
                class="uk-margin-small-top uk-margin-medium-left uk-flex container-botoes-receita uk-margin-medium-right uk-margin-small-bottom">
                <button type="button" onclick="saboro.receita.visualizarReceita(@item.Id)"
                    class=" uk-flex uk-flex-middle uk-flex-center uk-border-rounded container-botao-visualizar">
                    <i class="icone-visualizar-receita uk-margin-small-right"></i>
                    Ver
                </button>
                <a href='@Url.Action("GetEditarReceita", "Receita", new {id = @item.Id})'>
                <button type="button" class="uk-flex uk-flex-middle uk-flex-center container-botao-editar-excluir uk-border-rounded"><i
                        class="icone-editar"></i></button>
                </a>
                <button type="button"
                    onclick="saboro.receita.excluirReceita('@Url.Action("DeleteReceita", "Receita", new { id = @item.Id })', @item.Id)"
                    class="uk-flex uk-flex-middle uk-flex-center container-botao-editar-excluir uk-border-rounded"><i
                        class="icone-excluir"></i></button>
            </div>
            @* MODAL VISUALIZAÇÃO DA RECEITA *@
            <div id="modal-visualizar-receita-@item.Id" uk-modal="esc-close: false; bg-close: false;">
                <div class="uk-modal-dialog uk-modal-body uk-border-rounded uk-margin-auto-vertical modal-visualizar-receita">
                    <button class="uk-modal-close-default uk-text-bold text-black" type="button" uk-close></button>
                    <div class="uk-flex uk-flex-column">
                        <div
                            class="uk-flex uk-flex-column uk-card uk-card-default uk-card-hover uk-padding-small uk-margin-small-top gap-modal-exclusao uk-border-rounded">
                            <h4 class="uk-margin-remove-top uk-margin-remove-bottom">@item.TituloReceita</h4>
                            <p class="uk-margin-remove-top uk-margin-remove-bottom">@item.DescricaoReceita</p>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-flex uk-flex-middle">
                                    <i class="icone-relogio-receita"></i>
                                    <p class="uk-margin-remove-bottom uk-margin-remove-top font-media">
                                        @item.TempoPreparo
                                        min</p>
                                </div>
                                <div class="uk-flex uk-flex-middle uk-margin-small-left">
                                    <i class="icone-duplo-user-receita"></i>
                                    <p class="uk-margin-remove-bottom uk-margin-remove-top font-media">@item.QtdPorcoes
                                        porções</p>
                                </div>
                                <div class="badge @classeCor uk-margin-small-left">
                                    <p class="uk-margin-remove-bottom">@item.DificuldadeReceita?.Dificuldade</p>
                                </div>
                                <div class="badge-tipo-receita uk-margin-small-left ">
                                    <p class="uk-margin-remove-top uk-margin-remove-bottom">
                                        @item.CategoriaFavorita.NomeCategoria</p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-between gap-modal-exclusao">
                            <div
                                class="uk-flex uk-flex-column uk-card uk-card-default uk-card-hover uk-padding-small uk-margin-small-top gap-modal-exclusao coluna-ingredientes-modos-preparo uk-border-rounded">
                                <h4 class="uk-margin-remove-top uk-margin-remove-bottom uk-bold">Ingredientes</h4>
                                @foreach (var ingrediente in item.Ingredientes)
                                {
                                    <div class="uk-flex uk-flex-middle">
                                        <div class="ponto"></div>
                                        <p class="uk-margin-small-left uk-margin-remove-top uk-margin-remove-bottom">
                                            @ingrediente.DescricaoIngrediente</p>
                                    </div>
                                }
                            </div>
                            <div
                                class="uk-flex uk-flex-column uk-card uk-card-default uk-card-hover uk-padding-small uk-margin-small-top gap-modal-exclusao coluna-ingredientes-modos-preparo uk-border-rounded">
                                <h4 class="uk-margin-remove-top uk-margin-remove-bottom uk-bold">Modo de Preparo</h4>
                                @foreach (var modoPreparo in item.ModoPreparoReceitas)
                                {
                                    <div class="uk-flex">
                                        <div class="passo uk-flex uk-flex-middle uk-flex-center">
                                            <p class="uk-margin-remove-top uk-margin-remove-bottom ordem-receita">@modoPreparo.Ordem</p>
                                        </div>
                                        <p class="uk-margin-small-left uk-margin-remove-top uk-margin-remove-bottom">
                                            @modoPreparo.Descricao</p>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-column uk-card uk-card-default uk-card-hover uk-padding-small uk-margin-small-top uk-border-rounded">
                            <h4 class="uk-margin-remove-top uk-margin-remove-bottom uk-bold">Dicas do Chef</h4>
                            <div class="uk-flex dica-chef uk-padding-small uk-margin-small-top uk-border-rounded">
                                <p class="destaque-dica uk-margin-remove-top uk-margin-remove-bottom">Dica:</p>
                                <p class="uk-margin-remove-top uk-margin-remove-bottom">
                                    Para uma lasanha ainda mais saborosa, deixe descansar na geladeira por algumas horas antes
                                    de assar. Isso permite que os sabores se misturem melhor. Você também pode preparar no dia
                                    anterior e assar no dia seguinte!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* MODAL CONFIRMAR EXCLUSÃO *@
        <div id="modal-confirmacao-exclusao-receita-@item.Id" uk-modal="esc-close: false; bg-close: false;">
            <div class="uk-modal-dialog uk-modal-body uk-border-rounded uk-margin-auto-vertical modal-confirmar-exclusao">
                <button class="uk-modal-close-default uk-text-bold text-black" type="button" uk-close></button>
                <div class="uk-flex uk-flex-middle">
                    <i class="icone-alerta uk-margin-right"></i>
                    <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center  gap-modal-exclusao">
                        <h4 class="uk-text-bold uk-margin-remove">Tem certeza que deseja excluir a receita?</h4>
                        <p class="uk-margin-remove-top uk-margin-remove-bottom titulo-receita-modal-confirmacao-exclusao">
                            (@item.TituloReceita)</p>
                        <p class="uk-text-danger uk-margin-remove">Esta ação não pode ser desfeita!</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-small-top">
                    <button id="cancelar-exclusao-receita-@item.Id"
                        class="tamanho-altura-padrao btn-cancelar-exclusao uk-text-center uk-padding-small uk-margin-small-right uk-padding-remove-top uk-padding-remove-bottom uk-flex uk-flex-middle uk-flex-center uk-border-rounded"
                        type="button">Cancelar</button>
                    <button id="confirmar-exclusao-receita-@item.Id"
                        class="tamanho-altura-padrao btn-confirmar-exclusao uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-background-primary uk-flex uk-flex-middle uk-flex-center uk-border-rounded"
                        type="button">Confirmar
                    </button>
                </div>
            </div>
        </div>

    }

}
else
{
    <div class="uk-flex uk-flex-middle uk-flex-center uk-margin-top container-nenhuma-receita">
        <p class="uk-margin-remove-bottom uk-bold">Nenhuma receita encontrada com esse nome.</p>
    </div>
}
