@{
    Layout = "_Layout";
    ViewData["Title"] = "Cadastrar Receita";
}

<div class="uk-margin-medium-top container-principal-form">
    <div class="uk-margin-small-left uk-margin-small-top">
        <h2>Titulo Receita</h2>
    </div>
    <form>
        <div class="uk-flex uk-flex-middle gap-input uk-margin-small-left uk-margin-small-right">
            <div class="uk-flex uk-flex-column uk-width-1-2">
                <label class="uk-form-label uk-text-bold uk-text-small">Titulo da Receita <span
                        class="icone-obrigatorio">*</span></label>
                <div
                    class="uk-form-controls uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right uk-padding-small ">
                    <input class="uk-input uk-border-rounded focus-input" type="text" name="TituloReceita"
                        id="titulo-receita" placeholder="Insira o titulo da receita" value="" data-rules="required"
                        maxlength="50" />
                </div>
            </div>
            <div class="  uk-flex uk-flex-column uk-width-1-2">
                <label
                    class="uk-form-label uk-text-bold uk-text-small uk-form-label uk-text-bold uk-text-small uk-padding-remove-top uk-padding-remove-bottom uk-padding-remove-right uk-padding-small uk-padding-remove-left">Categoria
                    <span class="icone-obrigatorio">*</span></label>
                <div
                    class="uk-form-controls uk-padding-remove-top uk-padding-remove-right uk-padding-small uk-padding-remove-left">
                    <select class="uk-select uk-border-rounded focus-select" name="IdCategoriaFavorita"
                        id="eventoMaratona">
                        <option value="0">Selecione a Categoria</option>
                        @foreach (var categoriaFavorita in ViewBag.CategoriaFavorita)
                        {
                            <option value="@categoriaFavorita.Id"
                                selected="@(categoriaFavorita.Id == Model?.IdCategoriaCorrida ? "selected" : null)">
                                @categoriaFavorita.NomeCategoria</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-flex uk-flex-column uk-margin-small-right">
            <label
                class="uk-form-label uk-text-bold uk-text-small uk-padding-remove-top uk-padding-remove-bottom uk-padding-remove-right uk-padding-small">Descrição
                <span class="icone-obrigatorio">*</span></label>
            <div class="uk-form-controls uk-padding-remove-top uk-padding-remove-right uk-padding-small">
                <textarea class="uk-border-rounded uk-textarea focus-textarea" id="descricao-receita"
                    name="DescricaoReceita" rows="5" cols="60"
                    placeholder="Insira as condições especiais de saúde..."></textarea>
            </div>
        </div>
        <div class="uk-flex uk-flex-middle gap-input uk-margin-small-left uk-margin-small-right">
            <div class="uk-flex uk-flex-column uk-width-1-2">
                <label class="uk-form-label uk-text-bold uk-text-small">Tempo de Preparo (min) <span
                        class="icone-obrigatorio">*</span></label>
                <div
                    class="uk-form-controls uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right uk-padding-small ">
                    <input class="uk-input uk-border-rounded focus-input" type="number" name="TempoPreparo"
                        id="tempo-preparo" placeholder="Insira o tempo de preparo" value="" data-rules="required"
                        maxlength="50" />
                </div>
            </div>
            <div class="uk-flex uk-flex-column uk-width-1-2">
                <label class="uk-form-label uk-text-bold uk-text-small">Porções <span
                        class="icone-obrigatorio">*</span></label>
                <div
                    class="uk-form-controls uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right uk-padding-small ">
                    <input class="uk-input uk-border-rounded focus-input" type="number" name="QtdPorcoes"
                        id="qtd-porcoes" placeholder="Insira a quantidade de Porções" value="" data-rules="required"
                        maxlength="50" />
                </div>
            </div>
            <div class="uk-flex uk-flex-column uk-width-1-2">
                <label
                    class="uk-form-label uk-text-bold uk-text-small uk-form-label uk-text-bold uk-text-small uk-padding-remove-top uk-padding-remove-bottom uk-padding-remove-right uk-padding-small uk-padding-remove-left">Dificuldade
                    <span class="icone-obrigatorio">*</span></label>
                <div
                    class="uk-form-controls uk-padding-remove-top uk-padding-remove-right uk-padding-small uk-padding-remove-left ">
                    <select class="uk-select uk-border-rounded focus-select" name="IdDificuldadeReceita"
                        id="eventoMaratona">
                        <option value="0">Selecione a Dificuldade</option>
                        @foreach (var dificuldadeReceita in ViewBag.DificuldadeReceita)
                        {
                            <option value="@dificuldadeReceita.Id"
                                selected="@(dificuldadeReceita.Id == Model?.IdCategoriaCorrida ? "selected" : null)">
                                @dificuldadeReceita.Dificuldade</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-margin-small-left uk-margin-small-right">
            <div class="uk-flex uk-flex-between uk-flex-middle">
                <label class="uk-form-label uk-text-bold uk-text-small">
                    Ingredientes <span class="icone-obrigatorio">*</span>
                </label>
                <button type="button" onclick="saboro.receita.adicionarIngrediente()"
                    class="uk-flex uk-flex-middle uk-border-rounded container-botao-padrao">
                    <i class="icone-adicionar-claro uk-margin-small-right"></i>
                    Adicionar
                </button>
            </div>

            <div id="lista-ingredientes" class="uk-margin-small-top">
                <!-- Inputs de ingredientes aparecem aqui -->
            </div>
        </div>
        <div class="uk-margin-small-left uk-margin-small-right">
            <div class="uk-flex uk-flex-between uk-flex-middle">
                <label class="uk-form-label uk-text-bold uk-text-small">
                    Modo de Preparo <span class="icone-obrigatorio">*</span>
                </label>
                <button type="button" onclick="saboro.receita.adicionarPassos()"
                    class="uk-flex uk-flex-middle uk-border-rounded container-botao-padrao">
                    <i class="icone-adicionar-claro uk-margin-small-right"></i>
                    Adicionar
                </button>
            </div>

            <div id="lista-passos" class="uk-margin-small-top">
                <!-- Inputs de ingredientes aparecem aqui -->
            </div>
        </div>
    </form>
</div>
<script src="@Url.Content("~/dist/receita.entry.js")" asp-append-version="true"></script>