@using Saboro.Core.Models;
@model IEnumerable<Receita>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Receitas";
}

<div class="uk-margin-medium-top container-principal">
    <div class=" uk-flex uk-flex-middle uk-flex-between">
        <div>
            <h3 class="uk-margin-remove-bottom">Minhas Receitas</h3>
            <p class="uk-margin-remove-top">Gerencie suas receitas culinárias</p>
        </div>
        <div>
            <div class="">
                <button onclick="saboro.receita.getCadastroReceita()"
                    class="uk-flex uk-flex-middle uk-border-rounded container-botao-adicionar">
                    <i class="icone-adicionar uk-margin-small-right"></i>
                    Nova Receita
                </button>
            </div>
        </div>
    </div>
    <div  class="uk-inline uk-width-1-3@m uk-flex">
        <span class="uk-form-icon" uk-icon="icon: search"></span>
        <input type="search" id="pesquisar-receita" name="pesquisar" class="uk-input uk-border-rounded focus-input"
            placeholder="Buscar receitas..." />
    </div>
    @if (Model != null && Model.Any())
    {
        var totalReceitas = Model.Count();
        var tempoMedio = (int)Model.Average(r => r.TempoPreparo);
        var totalPorcoes = Model.Sum(r => r.QtdPorcoes);

        <div class="container-card-informacoes ">
            <div class="card-informacoes uk-flex uk-flex-middle uk-card uk-card-default">
                <i class="icone-logo-header uk-margin-medium-left"></i>
                <div class="uk-margin-small-left">
                    <p class="uk-margin-remove-bottom texto-informacoes">Total de Receitas</p>
                    <p class="uk-margin-remove-top uk-margin-remove-bottom resultado-informacoes">@totalReceitas</p>
                </div>
            </div>
            <div class="card-informacoes uk-flex uk-flex-middle uk-card uk-card-default">
                <i class="icone-relogio-info uk-margin-medium-left"></i>
                <div class="uk-margin-small-left">
                    <p class="uk-margin-remove-bottom texto-informacoes">Tempo Médio</p>
                    <p class="uk-margin-remove-top uk-margin-remove-bottom resultado-informacoes">@tempoMedio min</p>
                </div>
            </div>
            <div class="card-informacoes uk-flex uk-flex-middle uk-card uk-card-default">
                <i class="icone-duplo-user uk-margin-medium-left"></i>
                <div class="uk-margin-small-left">
                    <p class="uk-margin-remove-bottom texto-informacoes">Porções Totais</p>
                    <p class="uk-margin-remove-top uk-margin-remove-bottom resultado-informacoes">@totalPorcoes</p>
                </div>
            </div>
        </div>
    }
    <div id="resultado-busca" class="container-card-receitas uk-margin-medium-bottom">
        @await Html.PartialAsync("_CardResultadoReceita", Model)
    </div>
</div>

<script src="@Url.Content("~/dist/receita.entry.js")" asp-append-version="true"></script>
<script>
    saboro.receita.init({
        urls: {
            getCadastro: '@Url.Action("GetCadastrarReceita", "Receita")',
            getEditarReceita: '@Url.Action("GetEditarReceita", "Receita")',
            removerReceita: '@Url.Action("DeleteReceita", "Receita")',
            index: '@Url.Action("Index", "Receita")',
            homeSemReceita: '@Url.Action("Index", "Home")',
            buscarReceita: '@Url.Action("BuscarReceita", "Receita")',
        }
    })
</script>
