@using Saboro.Core.Models;
@using Saboro.Core.Extensions
@using Saboro.Web.Extensions

@{
    var cdnVersion = DateTime.Now.Ticks;
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
    var title = "Saboro Receitas";
    var usuario = Context.GetUser();
    var nomeUsuario = usuario?.NomeCompleto ?? "Usuário";
}



<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <script src="~/dist/izitoast.entry.js" asp-append-version="true"></script>
    <script src="~/dist/uikit.entry.js" asp-append-version="true"></script>
    <script src="~/dist/jquery.entry.js" asp-append-version="true"></script>
    <script src="~/dist/runtime.entry.js" asp-append-version="true"></script>
    <script src="~/dist/home.entry.js" asp-append-version="true"></script>
</head>

<body>
    <header class="container-header uk-flex uk-flex-center uk-flex-middle uk-box-shadow-medium">
        <div class=" uk-flex uk-flex-middle uk-flex-between uk-width-1-1 uk-container uk-container-expand">
            <div class="uk-flex uk-flex-middle">
                <a href='@Url.Action("Index", "Home")' class="uk-flex uk-flex-middle uk-text-decoration-none">
                    <i class="icone-logo-header"></i>
                    <p class="uk-margin-remove-top uk-margin-remove-bottom titulo-header">Saboro</p>
                </a>
            </div>
            <div class="uk-flex uk-flex-middle uk-flex-right">
                <p class="uk-margin-remove-bottom uk-margin-small-right">Olá, @nomeUsuario</p>
                <button class="uk-flex uk-flex-middle uk-border-rounded uk-margin-small-right container-botao-padrao">
                    <i class="icone-user uk-margin-small-right"></i>
                    Minhas informações
                </button>
                <a href='@Url.Action("Logout", "Home")' class="uk-text-decoration-none">
                    <button class="uk-flex uk-flex-middle uk-border-rounded container-botao-padrao">
                        <i class="icone-logout uk-margin-small-right"></i>
                        Sair
                    </button>
                </a>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (!string.IsNullOrEmpty(TempData.ErrorMessage()))
    {
        <script>saboro.home.Toast.error('@TempData.ErrorMessage()')</script>
    }
    @if (!string.IsNullOrEmpty(TempData.SuccessMessage()))
    {
        <script>saboro.home.Toast.success('@TempData.SuccessMessage()')</script>
    }


</body>

</html>
